<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>甘肃农业智慧灌溉数据统计</title>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/echarts.min.js"></script>
    <script type="text/javascript" src="/js/js.js"></script>
    <script type="text/javascript" src="/js/jquery.liMarquee.js"></script>
    <script type="text/javascript" src="/js/jquery.cxselect.min.js"></script>

    <link rel="stylesheet" href="/css/comon0.css">
</head>
<body>
<div style="background:#000d4a url(/images/bg.jpg) center top;">
    <div class="loading">
        <div class="loadbox"><img src="/images/loading.gif"> 页面加载中...</div>
    </div>
    <div class="back"></div>

    <!--天气预报-->
    <div class="head">
        <div class="weather">
            <iframe width="220" scrolling="no" height="65" frameborder="0" allowtransparency="true"
                    src="//i.tianqi.com/index.php?c=code&id=12&color=%23FFFFFF&bgc=%23091539&icon=5&num=5&site=12"></iframe>
            <!--                <span id="showweather"></span>-->
        </div>
        <div class="timer"><span id="showTime"></span></div>
        <h1>甘肃农业智慧灌溉数据监控</h1>

    </div>
    <script>


        let t = null;
        t = setTimeout(time, 1000);/*開始运行*/
        function time() {
            clearTimeout(t);/*清除定时器*/
            const dt = new Date();
            const y = dt.getFullYear();
            const mt = dt.getMonth() + 1;
            const day = dt.getDate();
            const h = dt.getHours();
            const m = dt.getMinutes();
            const s = dt.getSeconds();
            document.getElementById("showTime").innerHTML = y + "年" + mt + "月" + day + "日" + h + "时" + m + "分" + s + "秒";
            // document.getElementById("showweather").innerHTML ="这是天气：现在还没数据";
            t = setTimeout(time, 1000);
        }

    </script>
    <div class="mainbox">
        <ul class="clearfix">
            <li>
                <div class="boxall" style="height:400px;">
                    <div class="alltitle">已开阀放水</div>
                    <div class="navboxall" id="echart5"></div>
                </div>
                <div class="boxall" style="height:319px;">
                    <div class="alltitle">本月区域用水排行(前5)</div>

                    <div class="navboxall" id="echart2"></div>
                </div>
                <div class="boxall" style="height:300px">
                    <div class="alltitle">设备增量</div>
                    <div class="navboxall" id="echart3"></div>
                </div>
                <div class="boxall" style="height:300px">
                    <div class="alltitle">日平均用水量</div>
                    <div class="navboxall" id="echart3-4"></div>
                </div>
                <div class="boxall" style="height:264px;display:none">
                    <div class="alltitle">标题样式</div>
                    <div class="navboxall">
                        <div class="wraptit">
                            <span>单号</span><span>金额</span><span>品名</span><span>时间</span>
                        </div>
                        <div class="wrap">
                            <ul>
                                <li><p><span>100021415</span><span>199</span><span>手机</span><span>18小时</span></p></li>
                                <li><p><span>100021415</span><span>199</span><span>手机</span><span>18小时</span></p></li>
                                <li><p><span>100021415</span><span>199</span><span>手机</span><span>18小时</span></p></li>
                                <li><p><span>100021415</span><span>199</span><span>手机</span><span>18小时</span></p></li>
                                <li><p><span>100021415</span><span>199</span><span>手机</span><span>18小时</span></p></li>
                                <li><p><span>100021415</span><span>199</span><span>手机</span><span>18小时</span></p></li>
                                <li><p><span>100021415</span><span>199</span><span>手机</span><span>18小时</span></p></li>
                                <li><p><span>100021415</span><span>199</span><span>手机</span><span>18小时</span></p></li>
                                <li><p><span>100021415</span><span>199</span><span>手机</span><span>18小时</span></p></li>

                            </ul>
                        </div>

                    </div>
                </div>
            </li>
            <li>

                <div class="boxall" style="height:200px;display:none">
                    <div class="clearfix navboxall" style="height: 100%">
                        <div class="pulll_left num">
                            <div class="numbt">总体情况<span>(单位：m³)</span></div>
                            <div class="numtxt">3,193,827</div>
                        </div>

                    </div>
                </div>

                <div class="boxall" style="height:200px">
                    <div class="clearfix navboxall" style="height: 100%">
                        <div class="pulll_left num">
                            <div class="numbt">总体用水情况<span>(单位：m³)</span></div>
                            <div class="numtxt">3,193,827</div>
                        </div>
                        <div class="pulll_right zhibiao">
                            <div class="zb4"><span>阀控器</span>
                                <div id="zb4"></div>
                            </div>
                            <div class="zb5"><span>中继器</span>
                                <div id="zb5"></div>
                            </div>
                            <div class="zb6"><span>集中器</span>
                                <div id="zb6"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="boxall" style="height:304px">
                    <div class="alltitle">月用水量详情</div>
                    <div class="navboxall" id="echart4"></div>
                </div>

                <div class="boxall" style="height:300px">
                    <div class="alltitle">实时用水量</div>
                    <div class="navboxall" id="echart3-3"></div>
                </div>

                <div class="boxall" style="height:300px">
                    <div class="alltitle">区域用水量</div>
                    <div class="navboxall" id="echart3-2"></div>
                </div>
            </li>
            <li>
                <div class="boxall" style="height:340px">
                    <div class="alltitle">区域用水详情</div>
                    <div class="navboxall">
                        <table class="table1" width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                            <tr>
                                <th scope="col">排名</th>
                                <th scope="col">区域</th>
                                <th scope="col">用水量(m³)</th>
                                <th scope="col">年增长率</th>
                            </tr>
                            <tr>
                                <td><span>1</span></td>
                                <td>区域3</td>
                                <td>1,114,768<br></td>
                                <td>100%<br></td>
                            </tr>
                            <tr>
                                <td><span>2</span></td>
                                <td>区域4</td>
                                <td>923,823</td>
                                <td>21%</td>
                            </tr>

                            <tr>
                                <td><span>3</span></td>
                                <td>区域1</td>
                                <td>824,253</td>
                                <td>12%</td>
                            </tr>
                            <tr>
                                <td><span>4</span></td>
                                <td>区域5</td>
                                <td>623,563</td>
                                <td>39%</td>
                            </tr>
                            <tr>
                                <td><span>5</span></td>
                                <td>区域2</td>
                                <td>534,239</td>
                                <td>9%</td>
                            </tr>
                            <tr>
                                <td><span>6</span></td>
                                <td>区域6</td>
                                <td>384,689</td>
                                <td>69%</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="boxall" style="height:230px">
                    <div class="alltitle">损耗情况</div>
                    <div class="navboxall">
                        <div class="pulll_right zhibiao2">
                            <div class="zb1"><span style="color: #fff">本月损耗</span>
                                <div id="zb1"></div>
                            </div>
                            <div class="zb2"><span style="color: #fff">本年损耗</span>
                                <div id="zb2"></div>
                            </div>
                            <div class="zb3"><span style="color: #fff">总损耗</span>
                                <div id="zb3"></div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="boxall" style="height:299px">
                    <div class="alltitle">用户统计</div>
                    <div class="navboxall">
                        <div class="wraptit">
                            <span>总用户量：</span><span>5555</span><span></span><span></span>
                        </div>
                        <div class="navboxall" id="echart1"></div>
                    </div>
                </div>


                <div class="boxall" style="height:350px">
                    <div class="alltitle">设备报警</div>
                    <div class="navboxall">
                        <div class="wraptit">
                            <span>报警</span><span>设备</span><span>编号</span><span>状态</span>
                        </div>
                        <div class="wrap">
                            <ul>
                                <li><p><span>掉线</span><span>阀控器</span><span>123124</span><span
                                        style="color: green">已处理</span></p></li>
                                <li><p><span>损耗过大</span><span>阀控器</span><span>123124</span><span
                                        style="color: red">处理中</span></p></li>
                                <li><p><span>掉线</span><span>阀控器</span><span>123124</span><span
                                        style="color: green">已处理</span></p></li>
                                <li><p><span>掉线</span><span>阀控器</span><span>123124</span><span
                                        style="color: green">已处理</span></p></li>
                                <li><p><span>掉线</span><span>阀控器</span><span>123124</span><span
                                        style="color: green">已处理</span></p></li>
                                <li><p><span>掉线</span><span>阀控器</span><span>123124</span><span
                                        style="color: green">已处理</span></p></li>
                                <li><p><span>掉线</span><span>阀控器</span><span>123124</span><span
                                        style="color: green">已处理</span></p></li>
                                <li><p><span>掉线</span><span>阀控器</span><span>123124</span><span
                                        style="color: green">已处理</span></p></li>
                                <li><p><span>掉线</span><span>阀控器</span><span>123124</span><span
                                        style="color: green">已处理</span></p></li>
                                <li><p><span>掉线</span><span>阀控器</span><span>123124</span><span
                                        style="color: green">已处理</span></p></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="boxall" style="height:300px">
                    <div class="alltitle">月平均用水量</div>
                    <div class="navboxall" id="echart3-5"></div>
                </div>
            </li>
        </ul>

    </div>
</div>

<script>
    $(function () {
        $('.wrap,.adduser').liMarquee({
            direction: 'up',/*身上滚动*/
            runshort: false,/*内容不足时不滚动*/
            scrollamount: 20/*速度*/
        });
    });

</script>


</body>
</html>
